@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #515151;
}

body {
  background-color: rgb(79, 38, 203);
}

.hello {
  color: red;
}

input,
textarea {
  padding: 8px;
  width: 100%;
  border: none;
  background: transparent;
}

textarea:focus,
input:focus {
  outline: none;
}

.alert-success {
  background-color: #6cc052;
  padding: 0.4rem;
  font-size: 0.875rem;
  text-align: center;
  color: #356227;
}

.alert-error {
  background-color: #f4647c;
  padding: 0.4rem;
  font-size: 0.875rem;
  text-align: center;
  color: #611826;
}

.completed {
  pointer-events: none;
  text-decoration: line-through;
}

.single-task {
  cursor: all-scroll;
}

.w-100 {
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: inherit;
}

.border-bottom {
  border-bottom: 0.0625rem solid #dedede;
}

.fa-trash-o {
  color: #930404;
  cursor: default;
}

p#clear-all {
  cursor: pointer;
}

/* Flex Box */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

/* Others */
.card {
  background-color: #fff;
  padding: 0.5rem;
  width: 100%;
}

#app-container {
  height: 100vh;
}

#app-container .wrapper {
  width: 90vw;
  box-shadow: 0 0 20px 2px #17054d;
}

#new-task {
  font-style: italic;
}

.task .task-name {
  flex-basis: 97%;
}

.task .checkbox {
  flex-basis: 1.25rem;
}

.task-list-footer {
  background-color: #dedede;
}

.task-list-header h3 {
  font-weight: 500;
}

.task-list-footer > p {
  color: #5f5f5f;
}

.edit-mode {
  background-color: #ffd36d;
}

span.flex.new-task {
  flex-basis: 97%;
}

.waves {
  height: 15vh;
  min-height: 6.25rem;
  max-height: 9.375rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (min-width: 768px) {
  #app-container .wrapper {
    width: 30%;
  }
}
